{% extends 'blogable/base.html' %}

{% block blogs %}

<div class="list-group-item">
    {% for blog in blogs %}
        <a href="{% url 'blog_detail' pk=blog.pk %}">{{ blog.name }}</a>  
    {% endfor %}
</div>

{% endblock %}

{% block Sidebar %}

    <a href="{% url 'blog_detail' pk=blog.pk %}" class="list-group-item list-group-item-action">Posts</a>
    <a href="{% url 'comments_list' %}" class="list-group-item list-group-item-action">Comments</a>  

{% endblock %}

{% block content %}

<div class="title">
    <a class="btn btn-success" href="{% url 'post_create' pk=blog.pk %}" role="button">New Post</a>
    <h4>| {{blog.name}}</h4>
</div>
<ul class="list-group list-group-flush">
    {% for post in blog.post.all %}
        <li class="list-group-item">
            <a href="{% url 'post_update' pk=post.pk %}">{{ post.title }}</a>
            <p class="floatDate">{{ post.date }}</p>
            <br>
            <a href="{% url 'post_update' pk=post.pk %}">Edit |</a>
            <a href="{% url 'post_detail' pk=post.pk %}">View |</a>
            <a href="{% url 'post_delete' pk=post.pk %}">Delete</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}