{% extends 'blogable/base.html' %}

{% block blogs %}

<div class="list-group-item">
    {% for blog in blogs %}
        <a href="{% url 'blog_detail' pk=blog.pk %}">{{ blog.name }}</a>  
    {% endfor %}
</div>

{% endblock %}

{% block Sidebar %}

{% comment %} <a href="{% url 'blog_detail' pk=blog.pk %}" class="list-group-item list-group-item-action">Posts</a> {% endcomment %}
<a href="{% url 'comments_list' %}" class="list-group-item list-group-item-action">Comments</a>  

{% endblock %}

{% block content %}

<h4>All Post Comments</h4>
<ul class="list-group list-group-flush">
    {% for comment in comments %}
        <li class="list-group-item">
            <p><b>{{ comment.user }}</b> commented on post <b>'{{ comment.title }}'</b>:</p>
            <small class="text-muted">{{ comment.date }}</small>
            <p>{{ comment.comment }}</p>
        </li>
    {% endfor %}
</ul>

{% endblock %}