{% extends 'blogable/base.html' %} 

{% load crispy_forms_tags %}

{% block content %}

<form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.title|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.date|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.blog|as_crispy_field }}
      </div>
    </div>
    {{ form.blog_content|as_crispy_field }}
    <button type="submit" class="btn btn-success">Publish</button>
    <a href="{% url 'post_list' %}" role="button" class="btn btn-success">Return to Posts</a>
</form>

{% endblock %}