{% extends 'blogable/base.html' %} 

{% load crispy_forms_tags %}

{% block blogs %}

<div class="list-group-item">
    {% for blog in blogs %}
        <a href="{% url 'blog_detail' pk=blog.pk %}">{{ blog.name }}</a>  
    {% endfor %}
</div>

{% endblock %}

{% block Sidebar %}

<a href="{% url 'blog_detail' pk=blog.pk %}" class="list-group-item list-group-item-action">Posts</a>
<a href="{% url 'comments_list' %}" class="list-group-item list-group-item-action">Comments</a>  

{% endblock %}

{% block content %}

<form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            {{ form.title|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.date|as_crispy_field }}
        </div>
    </div>
    {{ form.blog_content|as_crispy_field }}
    <button type="submit" class="btn btn-success">Publish</button>
</form>

{% endblock %}