{% extends 'blogable/base.html' %}

{% load crispy_forms_tags %}

{% block blogs %}

<div class="list-group-item">
    {% for blog in blogs %}
        <a href="{% url 'blog_detail' pk=blog.pk %}">{{ blog.name }}</a>  
    {% endfor %}
</div>

{% endblock %}

{% block Sidebar %}

<a href="{% url 'blog_detail' pk=blog.pk %}" class="list-group-item list-group-item-action">Posts</a>
<a href="{% url 'comments_list' %}" class="list-group-item list-group-item-action">Comments</a>  

{% endblock %}

{% block content %}
<div>
    <h3>{{post.title}}</h3>
    <small>Blog: {{post.blog}}</small>
    <h5>{{ post.blog_content }}</h5>

</div>
<br>
<br>
<br>
<br>
<p>Leave your comment here:</p>

<form method="post" novalidate>
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-xs-6 mb-0">
        {{ form.user|as_crispy_field }}
      </div>
      <div class="form-group col-xs-6 mb-0">
        {{ form.date|as_crispy_field }}
      </div>
    </div>
    {{ form.comment|as_crispy_field }}
    <button type="submit" class="btn btn-success">Post</button>
</form>

<ul class="list-group list-group-flush">
    {% for comment in post.comment.all %}
        <li class="list-group-item">
            <p><b>{{ comment.user }}</b> commented on post <b>'{{ comment.title }}'</b>:</p>
            <small class="text-muted">{{ comment.date }}</small>
            <p>{{ comment.comment }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}